tc-splash {
    color: white !important;
    background-color: white !important;
    background-image: url("./new-spash-toucan.png") !important;
}

.toucan-overlay {
    background-color: #3edb7c !important;
    background: #3edb7c !important;
}